.page-header
  %h1 Edit Multimedia File
- if params[:type].eql?"image"
  = render :partial => "multimedia_files/forms/#{params[:type]}_edit"
- else
  = render :partial => "multimedia_files/forms/#{params[:type]}"
