.page-header
  %h1 New Multimedia File
- if params[:type].eql?"image"
  = render :partial => "multimedia_files/forms/#{params[:type]}_new"
- else
  = render :partial => "multimedia_files/forms/#{params[:type]}"
